@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  color: red;
  font-family: 'Indie Flower';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0
}